<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        form {
            display: grid;
            justify-content: center;
            gap: 25px;
        }

        label {
            display: grid;
        }
    </style>
</head>
<body>
    <form action="/new" method="post">
        <label>
            Author name
            <input type="text" name="sender" >
        </label>
        <label>
            Message
            <textarea name="message"></textarea>
        </label>
        <button>Submit</button>
    </form>
</body>
</html>