<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <% messages.forEach((message)=>{ %>
        <div class="message">
            <ul>
                <li>User: <%= message.user %></li>
                <li>Text: <%= message.text %></li>
                <li>Added: <%= message.added %></li>
            </ul>
        </div>
    <%})%>
</body>
</html>