<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        span { 
            font-weight: bold;
        }
        .message {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .message ul {
            padding: 0px;
            list-style-type: none;
        }
    </style>
</head>
<body>
    <a href="./new">Add new message</a>
    <hr>
    <% messages.forEach((message,index)=>{ %>
        <div class="message">
            <ul>
                <li><span>User:</span> <%= message.sender %></li>
                <li><span>Added:</span> <%= message.added %></li>
            </ul>
            <a href="/messages/<%=index+1%>">Open</a>
        </div>
    <%})%>
</body>
</html>