<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message From : <%= message.user%></title>
    <style>
        span { 
            font-weight: bold;
        }
        .message {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .message ul {
            padding: 0px;
            list-style-type: none;
        }
    </style>
</head>
<body>

    <div class="message">
        <ul>
            <li><span>User:</span><%= message.user %></li>
            <li><span>Text:</span> <%= message.text %></li>
            <li><span>Added:</span> <%= message.added %></li>
        </ul>
    </div>
</body>
</html>